<div class="container">
    <form [formGroup]="gestionarComicForm">
        <!-- <h1>{{ 'gestionarComic.titulo' | translate : tituloComplemento }}</h1> -->
        <h1 translate [translateParams]="{nombreSemillero : tituloComplemento.nombreSemillero}">gestionarComic.titulo</h1>
        <hr>
        <br>
        <pre>{{ comicDTO | json }}</pre>

        <div class="row">
            <div class="col-6">
                <label for="txtNombre" translate>gestionarComic.nombre</label>
                <input id="txtNombre" type="text" class="form-control" maxlength="50" formControlName="nombre"
                    [ngClass]="{ 'is-invalid' : validoFormulario &&  f.nombre.errors }">
                <div *ngIf="validoFormulario &&  f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido</span>
                    <!-- <span class="text-danger" *ngIf="f.nombre.errors.maxlength">Solo se permite 50 caracteres</span> -->
                </div>
            </div>

            <div class="col-6">
                <label for="txtEditorial" translate>gestionarComic.editorial</label>
                <input id="txtEditorial" type="text" class="form-control" maxlength="50" formControlName="editorial"
                    [ngClass]="{ 'is-invalid' : validoFormulario &&  f.editorial.errors }">
                <div *ngIf="validoFormulario && f.editorial.errors">
                    <span class="text-danger" *ngIf="f.editorial.errors.required">Campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="listTematica">Tematica:</label>
                    <select class="form-control" id="listTematica" formControlName="tematicaEnum" (change)="agregarValidacionColeccion()">
                        <option value="AVENTURAS">Aventuras</option>
                        <option value="BELICO">Belico</option>
                        <option value="DEPORTIVO">Deportivo</option>
                        <option value="FANTASTICO">Fantastico</option>
                        <option value="CIENCIA_FICCION">Ciencia ficcion</option>
                        <option value="HISTORICO">Historico</option>
                        <option value="HORROR">Horror</option>
                    </select>
                </div>
          
            </div>

            <div class="col-6">
                <label for="txtColeccion">Coleccion:</label>
                <input id="txtColeccion" type="text" class="form-control" maxlength="50" formControlName="coleccion"
                    [ngClass]="{ 'is-invalid' :  validoFormulario && f.coleccion.errors }">
                <div *ngIf="validoFormulario && f.coleccion.errors">
                    <span class="text-danger" *ngIf="f.coleccion.errors.required">Campo requerido.</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtNumPaginas">Numero de paginas:</label>
                <input id="txtNumPaginas" type="number" class="form-control" maxlength="50" formControlName="numeroPaginas"
                    [ngClass]="{ 'is-invalid' :  validoFormulario && f.numeroPaginas.errors }">
                <div *ngIf="validoFormulario && f.numeroPaginas.errors">
                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.required">Campo requerido.</span>
                </div>
            </div>

            <div class="col-6">
                <label for="txtPrecio">Precio:</label>
                <input id="txtPrecio" type="number" class="form-control" maxlength="50" formControlName="precio"
                    [ngClass]="{ 'is-invalid' :  validoFormulario && f.precio.errors }">
                <div *ngIf="validoFormulario && f.precio.errors">
                    <span class="text-danger" *ngIf="f.precio.errors.required">Campo requerido.</span>
                    <!-- <span class="text-danger" *ngIf="f.precio.errors.maxlength">El campo solo recibe 50 caracteres.</span> -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label for="txtaAutores">Autores:</label>
                <textarea class="form-control" id="txtaAutores" rows="3" formControlName="autores"></textarea>
            </div>

            <div class="col-6">
                <label for="color">A color:</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1"  [value]="true" class="custom-control-input"
                        formControlName="color">
                    <label class="custom-control-label" for="customRadioInline1">Si</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2"  [value]="false" class="custom-control-input"
                        formControlName="color">
                    <label class="custom-control-label" for="customRadioInline2">No</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-6 text-right ">
                <button type="button" class="btn btn-primary" (click)="crearComic()">Crear</button>
            </div>
        </div>
        <br>
        <div *ngIf="mostrarItem" class="alert alert-info" role="alert">
            Se ha creado exitosamente el comic
            <button type="button" class="btn btn-primary" (click)="cerrar()">Cerrar</button>      
        </div>
        <br>

        <div class="alert alert-warning" role="alert" *ngIf="!mostrarMensajeFallido">
            {{ mensajeEjecucion }}
        </div>

        <div class="row" *ngIf="listaComics.length > 0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tematica</th>
                            <th scope="col">Precio</th>
                            <th scope="col">A color</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--date:"MM/dd/yy"
                        | uppercase-->
                        <tr *ngFor="let comic of listaComics;let i=index;">
                            <th scope="row">{{i}}</th>
                            <td>{{comic.nombre | uppercase }}</td>
                            <td>{{comic.tematicaEnum | lowercase }}</td>
                            <td>{{comic.precio | number: '.2'}}</td>
                            <td>{{comic.color ? 'Si' : 'No' }}</td>
                            <!-- <td>{{comic.fechaVenta | date: "MM-dd-yy" }}</td> -->
                            <td>
                                <i class="fas fa-search 2x ml-1" title="Consultar" (click)="irAConsultarComic(comic)"></i>
                                <!-- <i class="fas fa-search 2x ml-1" title="Consultar" [routerLink]="['/consultar-comic', comic]"></i> -->
                                <i class="fas fa-pencil-alt 2x ml-1"  title="Editar"></i>
                                <i class="fas fa-arrow-alt 2x ml-1"  title="Comprar" (click)="irAComprarComic(comic.id)"></i>
                                <i class="far fa-times-circle 2x ml-1" title="Eliminar" data-toggle="modal" data-target="#exampleModalScrollable"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    </form>
</div>
